<!DOCTYPE html>
<html>

<head>
  {% load static %}

  <title>I come from template!!</title>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-react/0.81.1/semantic-ui-react.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>

  <style>
    body {
      background-color: lightyellow;
    }

    em {
      color: LightSeaGreen;
    }
  </style>
</head>

<body>
  <h1>Plotly Python Chart!</h1>

  {% if graph %}
  <div style="width:600;height:500">
    {{ graph|safe }}
  </div>
  {% endif %}

  <script type="text/javascript">

    // TODO: 1. automatical reload timer
    console.log("current url:", window.location.href);
    //需要timer去refresh當前網址, 如果not live mode, 就不用了
    //  setTimeout(function(){
    //     window.location.reload(true);
    // }, 5*1000); //5s
    // 2. add some customized menus for Chart, using react possible?
  </script>

  <div id="app">
  <script src="{% static 'app.js' %}" type="text/babel"></script>

</body>

</html>
