<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            console.log("current url:", window.location.href);
            setTimeout(function(){
               window.location.reload(true);
           }, 5*1000); //5s 
        </script>
        <h1>Hello World!</h1>
        <em>{{ current_time }}</em>
    </body>
</html>
